[run]
source = .
omit = 
    */archive/*
    */venv/*
    */.venv/*
    */tests/*
    */logs/*
    */fb_temp*/*
    setup.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError